{% extends 'base.html' %}

{% block content %}
<h1>Delete Post</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>Are you sure you want to delete this post ? </p>
    <input type="submit" value="Confirm">
</form>
{% endblock content %}